@import "lib/less/bootstrap.lessimport";
@import "lib/less/animate.lessimport";

@light-red: #F17555;
@dark-red: #EC4E33;
@light-grey: #f6f6f6;
@grey: #888;
@blue: #15c;

body {
  margin-top: -10px;
  background-color: @light-grey;
  font-size: 14px;
  min-width: 300px;
  padding: 40px;
  margin-top: 5%;
}

.footer {
  padding-top: 40px;
  font-size: 13px;
  color: @grey;
  margin-left: 15%;
}

h1 {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
  margin-left: 15%;
  color: @grey;
}

p {
  width: 70%;
  margin: 0 auto 20px;
  line-height: 28px;

  &:first-of-type {
    color: @grey;
    margin-bottom: 40px;
  }
  &:last-of-type {
    color: @grey;
  }
}

/* misc */
.hidden {
  visibility: hidden;
}
.shown {
  visibility: visible;
}

.transparent {
  opacity: 0;
}
.opaque {
  opacity: 1;
}

@media (max-width: 992px) {
}
