---
layout: default
---

<div class="home">
  <div class="animated bounceIn photo"></div>
  <div class="animated fadeIn">
    <h1>Kyungmin Kim</h1>
    <p>Product Design · San Francisco</p>
    <p>I currently design at <a href="http://www.nuro.ai" target="_blank">Nuro</a>, enabling last-mile deliveries by robots. Previously, I designed for the gig economy platform at <a href="http://www.doordash.com" target="_blank">DoorDash</a>, as well as <a href="https://cloud.google.com/" target="_blank">Google Cloud Platform</a> and <a href="https://www.doubleclickbygoogle.com/solutions/digital-marketing/campaign-manager/" target="_blank">DoubleClick for Advertisers</a> at Google.</p>
    <p>A few things I am known for:</p>
    <ul>
      <li>Strong product ownership</li>
      <li>Cross-functional collaboration across teams and organizations</li>
      <li>High-confidence design solutions</li>
    </ul>
    <br/>
    <p><a href="http://www.linkedin.com/in/kyungmink" class="btn">Connect via LinkedIn</a></p>
    <br/>
  </div>
  <div class="footer">
   © 2020 Kyungmin Kim. Powered by <a href="https://github.com/kyungmin/kyungm.in" target="_blank">Github</a>.
  </div>

  {{ content }}

</div>
