---
layout: default
---

<div class="home">
  <div class="animated bounceIn photo"></div>
  <div class="animated fadeIn">
    <h1>Kyungmin Kim</h1>
    <p>Interdisciplinary UX designer</p>
    <p>I lead the design of the mobile app and data management platform at <a href="http://www.premise.com" target="_blank">Premise</a>, working across product, engineering, growth and business development teams. Previously, I designed Google Cloud Platform and DoubleClick for Advertisers, and coded at Balanced Payments.</p>
    <p>I have a passion for making design scalable and universal across teams and organizations. I believe, with the right process, the entire team can contribute to better design, not just those who use design tools. As I continue to expand my role as a designer, I often mentor designers and entrepreneurs.</p>
    <p>I live in San Francisco and love cycling and watercolor painting.</p>
    <p>Portfolio provided upon request.</p>
    <p><a href="mailto:kmin905@gmail.com" class="btn">Get in touch</a></p>
    <br/>
    <p>Other ways to connect –<br/>
      <a href="http://www.linkedin.com/in/kyungmink">LinkedIn</a> •
      <a href="https://twitter.com/kyungmink">Twitter</a> •
      <a href="https://medium.com/@kyungmink">Medium</a> •
      <a href="http://instagram.com/kyungminkk">Instagram</a> •
      <a href="http://www.strava.com/athletes/1421121">Strava</a>
    </p>
  </div>
  <div class="footer">
   © 2017 Kyungmin Kim. Powered by <a href="https://github.com/kyungmin/kyungm.in" target="_blank">Github</a>.
  </div>

  {{ content }}

</div>
